/*-------------------------------------------------------------------------------------------------------------------*/

/* HOMEPAGE */
/* Grid template*/
.gridContainer {				
	display:grid;
	grid-template-rows:auto;
	grid-template-columns: 60% 40%;
	grid-template-areas:
	"header header"
	"nav nav"
	"main aside"
	"footer footer"
}

/*-------------------------------------------------------*/

/* Styling Header */
header {
	grid-area:header;
	background-color: black;
}

header h1{
	text-align: center;
	color: white;
}

/*-------------------------------------------------------*/

/* Styling Navigation */
nav {
	grid-area:nav;
}
.navbar {						
	background-color: #333;
	overflow: hidden;
	border: none;
}
.navbar a {						
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
}
.navbar a:hover {				
	background-color: lightgrey;
	color: black;
}
.navbar a.active {				
	background-color: #3471a0;
	color: white;
}
.loginBtn {
	float: right;
	background-color: green;
	font-weight: bold;
}

.logoutBtn {
	float: right;
	background-color: red;
	font-weight: bold;
}

/*-------------------------------------------------------*/

/* Styling Main*/
main {
	grid-area:main;
	background-color: none;
	padding: 0px 15px 15px 15px;
}

/*-------------------------------------------------------*/

/* Styling aside*/
aside {
	grid-area:aside;
	background-color: #3471a0;
	margin: 8px;
	padding: 3px;
}

aside h2, aside h3, aside p{
	text-align: center;
	color: white;
}

/*-------------------------------------------------------*/

/* Styling Footer*/
footer {
	grid-area:footer;
	background-color: gray;
	color: white;
	padding-left: 10px;
	padding-right: 9px;
}
footer h4{
	margin: 11px 0px 4px 0px;
	padding: 0px;
}
footer p {
	margin-top: 4px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/* LOGIN PAGE */

/* Creating a grid template without aside */
.gridContainer1 {
	display:grid;
	grid-template-rows:auto;
	grid-template-columns:auto;
	grid-template-areas:
	"header"
	"nav"
	"main"
	"footer"
}

/* Styling LOGIN Main*/
.loginMain, .editMain {
	grid-area:main;
	max-width: 50%;
	padding: 2px 25% 10px 25%;
}

.loginMain h2, .editMain h2 {
	text-align: center;
}

.loginForm {
	position: relative;
	padding: 16px;
	background-color: lightgrey;
	margin-bottom: 5px;
}

.btn {
	background-color: #3471a0;
	color: white;
	padding: 4px 10px;
	margin: 2px;
	border: solid;
	border-radius: 0px;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px;
} 

.btnCorner {
    position: absolute;
    border-radius: 4px;
    top: 0px;
    right: 0px;
    margin: 8px;
    background-color: #3471a0;
    color: white;
    display: flex;
	padding: 7px 13px;
	text-align: center;
	text-decoration: none;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* RecordsList PAGE */

.records {
	border-radius: 8px;
	padding: 8px;
}


/* EditRecordForm PAGE */

/* Styling editForm*/
input[type=text], select, input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
}

input[type=submit]{
	width: 100%;
	background-color: #3471a0;
	color: white;
	padding: 14px 20px;
	margin: 4px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.editRecordForm {
	border-radius: 5px;
	background-color: lightgrey;
	padding: 20px;
	margin-bottom: 5px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* LOGOUT PAGE */

.logoutMain {
	grid-area:main;
	padding: 10px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
